# Supabase
   NEXT_PUBLIC_SUPABASE_URL=
   NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
   SUPABASE_SECRET_KEY=

   # Backblaze B2
   B2_KEY_ID=
   B2_APP_KEY=
   B2_BUCKET_NAME=
   B2_ENDPOINT=
   B2_REGION=

   # RunPod
   RUNPOD_API_KEY=
   RUNPOD_INFER_ENDPOINT_ID=
   RUNPOD_TTS_ENDPOINT_ID=
   RUNPOD_STT_ENDPOINT_ID=
   RUNPOD_EMBED_ENDPOINT_ID=
   RUNPOD_NETWORK_VOLUME_ID=